.title {
    margin: 2rem 0;
}

.parag {
    margin: 1.5rem 0 !important;
}

#monitor {
    display: none;
}

div.container.section {
    margin: 4rem auto;
}

.tip {
    background-color: black;
    color: white ;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.tip-name {
    font-weight: bold;
}